@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-green-700: hsl(158, 42%, 18%);
  --text-rem: clamp(14px, 2vw , 16px);
  --w-dynamic: clamp(320px, 90%, 640px);
  --breakpoint-md: 550px;
  --font-Montserrat: "Montserrat", system-ui;
  --font-Fraunces: "Fraunces", system-ui;
}
